block settings

doctype html
html
  head
    title= squeeze(title || 'Example application')
    meta(name="description" content=squeeze(description || 'Example application description'))

    link(rel="stylesheet" href=asset_path('application.css') media="all" type="text/css")
    script(src=asset_path('application.js'))

    meta(name="viewport" content="initial-scale=1.0, maximum-scale=7.0")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href=canonical_path)
  body
    block content
