- const compact = str => str.trim().replace(/\s+/g, ' ')

mixin application_description(text)
  meta(name="description" content=compact(text))

mixin application_title(text)
  title #{development && '[dev]'} #{compact(text)}

mixin application_stylesheet
  link(rel="stylesheet" href=asset_path('application.css') media="all" type="text/css")

mixin application_javascript
  script(src=asset_path('application.js'))
